<a href="https://colab.research.google.com/github/PoppyDalamaZain/Kelompok3/blob/main/worksheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Import Packages

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings; warnings.simplefilter('ignore')
from datetime import datetime

#Memanggil Data

In [8]:
!mkdir data
!wget -P data/ https://raw.githubusercontent.com/PoppyDalamaZain/Kelompok3/main/data/Case-Study-02-MixITup_kelompok3.csv
df = pd.read_csv("data/Case-Study-02-MixITup_kelompok3.csv", low_memory = False, encoding='utf8')
    
df.shape

mkdir: cannot create directory ‘data’: File exists
--2022-10-12 01:32:07--  https://raw.githubusercontent.com/PoppyDalamaZain/Kelompok3/main/data/Case-Study-02-MixITup_kelompok3.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10088 (9.9K) [text/plain]
Saving to: ‘data/Case-Study-02-MixITup_kelompok3.csv’

Case-Study-02-MixIT 100%[===================>]   9.85K  --.-KB/s    in 0s

2022-10-12 01:32:07 (64.2 MB/s) - ‘data/Case-Study-02-MixITup_kelompok3.csv’ saved [10088/10088]

(200, 10)

Melihat Varibel

In [9]:
df.columns

Index(['ID', 'Jenis Kelamin', 'Umur', 'Pendapatan-per-bulan',
       'skor-pengeluaran', 'Menikah', 'Kota', 'Promo', 'HariFav', 'FavFlavor'],
      dtype='object')

Jumlah Baris dan Kolom pada data

In [10]:
B, K = df.shape
print('Baris = ', B, ', Kolom = ', K)

Baris =  200 , Kolom =  10

Melihat Tipe dari setiap Variabel

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    200 non-null    int64
 1   Jenis Kelamin         200 non-null    object
 2   Umur                  200 non-null    int64
 3   Pendapatan-per-bulan  200 non-null    object
 4   skor-pengeluaran      200 non-null    int64
 5   Menikah               200 non-null    int64
 6   Kota                  200 non-null    object
 7   Promo                 200 non-null    int64
 8   HariFav               200 non-null    object
 9   FavFlavor             200 non-null    int64
dtypes: int64(6), object(4)
memory usage: 15.8+ KB

Mengubah object menjadi kategorik

In [ ]:
df['Jenis Kelamin'] = df['Jenis Kelamin'].astype('category')
df['Jenis Kelamin'] = df['Jenis Kelamin'].astype('category')

Menghapus variabel yang tidak diperlukan

In [ ]:
data_baru = dfJ.drop(columns = ['URL','deskripsi','hadap','Unnamed: 14','Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21','Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24','Unnamed: 25'])
data_baru

In [ ]:
data_baru.isnull().sum()

Menghapus Baris yang Kosong

In [ ]:
data_baru.drop(data_baru.tail(903).index,inplace=True)
data_baru

Menambhakan Variabel (jika perlu)

In [ ]:
data_baru['Wilayah'] = 'Jakarta'
data_baru

Mengisi Missing Value dengan 0

In [ ]:
# Mengisi missing value variabel garasi dan carport dengan 0
garasi = data_baru.garasi.fillna('0')
data_baru['garasi'] = data_baru['garasi'].fillna(garasi)
carport = data_baru.carport.fillna('0')
data_baru['carport'] = data_baru['carport'].fillna(carport)
# Mengisi missing value variabel listrik dengan median
listrik = data_baru['listrik'].median()
data_baru['listrik'] = data_baru['listrik'].fillna(listrik)
# Mengisi missing value variabel sertifikat
data_baru['sertifikat'] = data_baru['sertifikat'].fillna('Tidak ada')
data_baru

Pengecekan Kembali

In [ ]:
data_baru.duplicated().sum()

In [ ]:
data_baru.isnull().sum()

MENGULANG PROSES DIATAS SAMPAI DATA KE 3

#Menggabungkan Ketiga Data tersebut

In [ ]:
data3_baru = pd.concat([data_baru, data1_baru, data2_baru], axis = 0)
data3_baru

In [ ]:
data3_baru.isnull().sum()

#Menentukan Clustering pada Data

In [ ]:
k=3
kmPP = cluster.KMeans(n_clusters=k, init='k-means++', max_iter=300, tol=0.0001, random_state = random_state)
kmPP.fit(X)
C_kmpp = kmPP.predict(X)

sns.countplot(x=C_kmpp)
C_kmpp[:10]